body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

/* variables */
:root{
    --share-svg: url('data:image/svg+xml,<svg class="smallSize fillBlack" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>share-variant-outline</title><path d="M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12S8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5S19.66 2 18 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12S4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.34C15.11 18.55 15.08 18.77 15.08 19C15.08 20.61 16.39 21.91 18 21.91S20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08M18 4C18.55 4 19 4.45 19 5S18.55 6 18 6 17 5.55 17 5 17.45 4 18 4M6 13C5.45 13 5 12.55 5 12S5.45 11 6 11 7 11.45 7 12 6.55 13 6 13M18 20C17.45 20 17 19.55 17 19S17.45 18 18 18 19 18.45 19 19 18.55 20 18 20Z" /></svg>');
}
.page{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 7fr 2fr;
    grid-template-rows: 1fr min-content 3fr min-content 3fr;
    background-color: #d4d4d8;
    justify-items: start;
    /* margin: 1rem; */
}
.page > *{
    padding: 1rem;
}


/* svg icon sizing */

.bigSize{
    width: 4em;
    height: 4em;
}
.midSize{
    width: 3em;
    height: 3em;
    fill: #fafaf9;
}
.smallSize{
    fill: #fafaf9;
    width: 2em;
    height: 2em;
}

.fillBlack{
    fill: black;
}
/* header */
.header{
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 3rem;
    background-color: #fafaf9;
    /* to avoid gaps */
    align-items: start;
    box-shadow: 0px 0px 4px black;
    width: 100%;
}

/* header top section */
.header .header-top{
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2em;    
}



input[type="search"]{
    width: 100%;
    /* by making the second column 1fr and the input vw the sizing is dynami */
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    height: 30px;
    background-color: #d4d4d8;
    border: none;
    border-radius: 5px;
    
}
.header-top #header-top-user{
    justify-self: end;
    font-weight: bold;
}
/* header bottom section */

.header .header-bottom{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.header-bottom h3{
    margin: 0;
}

/* the right side of the bottom header */

button{
    width: 100%;
    height: 30px;
    font-family: inherit;
    font-size: 100%;
    background-color: #2563eb;
    border: none;
    border-radius: 5px;
    color: #fafaf9;
}
button:hover{
    background-color: #1e40af;
    cursor: pointer;
}
button:active{
    background-color: #1e3a8a;
}


/* sidebar */
.sidebar .smallSize{
    /* to make them align with the dashboard icon */
    margin-left: 0.5em;
}

.sidebar{
    display: grid;
    grid-column: min-content;
    justify-items: baseline;
    background-color: #2563eb;
    color: #fafaf9;
    gap: 5rem;
    justify-items: start;
    align-content: start;
    grid-area: 1 / 1 / 6 / 2;
}


.sidebar *{
    font-size: 1em;
    font-weight: bold;
}
/* to align the items inside the sidebar grid */
.sidebar .side-head span{
    font-size: 2rem;
}


/* main page */
#projects{
    grid-area: 2 / 2 / 3 / 3;
}

#announce{
   grid-area: 2 / 3 / 3 / 4;
}

#trend{
    grid-area: 4 / 3 / 5 / 4;
}

/* articles */
#articles{
    grid-area: 3 / 2 / 6 / 3;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(50px, 1fr);
    padding-top:  0;

}

#articles > div{
/* min-height: 200px; */
    background: #fafaf9;
    border-radius: 10px;
    border-left: 10px solid orange;
    padding: 1em;
    padding-top: 0.7em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: auto min-content ;
    
}

#articles .card{
    grid-column: 1 / 4;
    width: 100%;
}
.card-icon{
    width: 2em;
    height: 2em;
    /* padding:  40px; */
    grid-row: 2 / 3;
    justify-self: end;

    
}



/* global classes */
.title{
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.center{ 
    display: grid;
    /* made the second column 1fr so the search bar would be dynamic */
    grid-template-columns: min-content 1fr;
    gap: 0.8rem;
    align-items: center;
    justify-content: start;
}
.threeColumn{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

/* to fix the issue that useing text min-content wraps the text */
svg + span{
    white-space: nowrap;
}


